__pycache__/
*.pyc
/.venv/
/.ruff_cache/
/.idea/
/.run/
/Volume/
!/.github/
/.worktrees/
logs
downloads
.uv-cache/
.DS_Store
.vscode
.ruff_cache
.pytest_cache
.mypy_cache
.pytype
.sisyphus
.ruff_cache
repos
.pytest_cache
.mypy_cache
.pytype
demo
/encipher.py
/settings/
